html {
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 400;
    font-size: 12px;
    font-style: normal;
}

th, td {
    text-align: center;
}

div.popup-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

div.popup-content {
    padding: 20px;
}

div.popup-content label {
    text-align: left;
}

div.popup-content, div.controlGroup, div.controlPanel {
    background-color: #222;
    border: 2px solid #ccc;
    border-radius: 4px;
}

div.controlGroup, div.popup-content div.control {
    padding: 0px;
    display: inline-block;
    margin: 5px 0;
    width: 300px;
    vertical-align: top;
}

div.controlGroup, div.popup-content div.control {
    margin: 5px;
}

div.popup-content div.control {
    margin: 5px 0;
}

div.controlGroup input, div.controlGroup label {
    text-align: left;
    width: 100%;
}

div.controlGroup div.control {
    background-color: #444;
}

div.control {
    padding: 5px;
    margin: 5px 0;
}

div.controlGroup, div.control, div.controlPanel {
    min-height: 40px;
}

div.control button {
    margin: 2px 0;
}

div.controlGroup {
    padding: 5px;
}

div.control:first-child {
    margin-top: 0;
}

div.control:last-child {
    margin-bottom: 0;
}

div.controlPanel {
    margin: 5px 0;
}

audio {
    width: 100%;
}
